body{
    background-color:aquamarine;
}
#game-box{
    width: 90vw;
    margin: auto;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#game-box div{
    width: 90%;
    margin: auto;
    /* margin-top: 50px; */
    padding: 10px;
}
#input-div{
    background-color: coral;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}
#input{
    width: 80%;
    height: 50px;
    border-radius: 10px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    font-size: large;
}
ul li:hover {
    background: #f3f3f3;
}

[data-cls="delete"]{
    right: 10px;
}
#top-menu, #bottom-menu{
    display: flex;
    justify-content: space-between;
    color: grey;
}
